force-app/main/default/flows/Customer_Information_Required.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_qwer</name>
        <label>Copy 1 of qwer</label>
        <locationX>346</locationX>
        <locationY>768</locationY>
        <actionName>Opportunity.Customer_Information_Required_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_checkFalse</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>qwer</name>
        <label>qwer</label>
        <locationX>82</locationX>
        <locationY>648</locationY>
        <actionName>Opportunity.Customer_Information_Required_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>checkFalse</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>checkTime</name>
        <label>checkTime</label>
        <locationX>533</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_checkFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkTimee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Customer_Activity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getVoiRecord</targetReference>
            </connector>
            <label>checkTimee</label>
        </rules>
    </decisions>
    <decisions>
        <name>CpaDone</name>
        <label>CpaDone</label>
        <locationX>478</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_checkFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckCPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPA Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_qwer</targetReference>
            </connector>
            <label>CheckCPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>entryCheck</name>
        <label>entryCheck</label>
        <locationX>280</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>CpaDone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkCondition</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Packs Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Packs Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Documents_Outstanding__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No more documents outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVoiRecord.VOI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVoiRecord.VOI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>qwer</targetReference>
            </connector>
            <label>checkCondition</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Information Required {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Information Required</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getVoiRecord</name>
        <label>getVoiRecord</label>
        <locationX>280</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>entryCheck</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VOI_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>VOI_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VOI_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>checkFalse</name>
        <label>checkFalse</label>
        <locationX>82</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>isActivityCheck__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_checkFalse</name>
        <label>Copy 1 of checkFalse</label>
        <locationX>478</locationX>
        <locationY>984</locationY>
        <inputAssignments>
            <field>isActivityCheck__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_checkFalse</name>
        <label>Copy 2 of checkFalse</label>
        <locationX>786</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>isActivityCheck__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActivityCheck__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Section_Tracking__c</objectType>
    </variables>
    <variables>
        <name>getApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Section_Tracking__c</objectType>
    </variables>
</Flow>
