force-app/main/default/flows/FlowforCreditAnalystChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignCreditAnalyst</name>
        <label>AssignCreditAnalyst</label>
        <locationX>356</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>LoopOntasks.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Credit_Analyst__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOntasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOntasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordTypeNamesList</name>
        <label>RecordTypeNamesList</label>
        <locationX>445</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>RecordTypesNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Home Improvement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypesNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Solar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypesNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Green Loan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypesNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Debt Consolidation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypesNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Personal Loan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypesNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Vehicle Purchase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConditionForCreditAnalyst</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ConditionForCreditAnalyst</name>
        <label>ConditionForCreditAnalyst</label>
        <locationX>577</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OldCranalystisMotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Credit_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypesNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OldTaskRecords</targetReference>
            </connector>
            <label>OldCranalystNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskListToUpdateNotNull</name>
        <label>TaskListToUpdateNotNull</label>
        <locationX>252</locationX>
        <locationY>753</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTasksWithNewCrAnalyst</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskNotNull</name>
        <label>TaskNotNull</label>
        <locationX>524</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldTaskRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOntasks</targetReference>
            </connector>
            <label>TaskFound</label>
        </rules>
    </decisions>
    <interviewLabel>FlowforCreditAnalystChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowforCreditAnalystChange</label>
    <loops>
        <name>LoopOntasks</name>
        <label>LoopOntasks</label>
        <locationX>275</locationX>
        <locationY>472</locationY>
        <collectionReference>OldTaskRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignCreditAnalyst</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TaskListToUpdateNotNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OldTaskRecords</name>
        <label>OldTaskRecords</label>
        <locationX>715</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Credit_Analyst__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTasksWithNewCrAnalyst</name>
        <label>UpdateTasksWithNewCrAnalyst</label>
        <locationX>459</locationX>
        <locationY>749</locationY>
        <inputReference>TaskList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecordTypeNamesList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Credit_Analyst__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Analyst__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordTypesNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
