force-app/main/default/flows/FlowforVariationReqMail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ForApplicant1</name>
        <label>ForApplicant1</label>
        <locationX>572</locationX>
        <locationY>600</locationY>
        <actionName>Funding_Request__c.Variation_mail_ToApp1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopOnVOIStatus</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ForApplicant2</name>
        <label>ForApplicant2</label>
        <locationX>836</locationX>
        <locationY>600</locationY>
        <actionName>Funding_Request__c.Variation_mail_ToApp2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopOnVOIStatus</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSmsToApplicants</name>
        <label>SendSmsToApplicants</label>
        <locationX>748</locationX>
        <locationY>276</locationY>
        <actionName>FundingRequest</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Condition1</name>
        <label>Condition1</label>
        <locationX>836</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>LoopOnVOIStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Contact1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnVOIStatus.Contact__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Applicant_1_A1__r.PersonContact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForApplicant1</targetReference>
            </connector>
            <label>For Contact1</label>
        </rules>
        <rules>
            <name>For_contact2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnVOIStatus.Contact__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Applicant_2_A2__r.PersonContact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForApplicant2</targetReference>
            </connector>
            <label>For contact2</label>
        </rules>
    </decisions>
    <interviewLabel>FlowforVariationReqMail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowforVariationReqMail</label>
    <loops>
        <name>LoopOnVOIStatus</name>
        <label>LoopOnVOIStatus</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <collectionReference>getVoiRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getVoiRecords</name>
        <label>getVoiRecords</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnVOIStatus</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VOI_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Variation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Variation requested by customer</stringValue>
            </value>
        </filters>
        <object>Funding_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
