force-app/main/default/flows/SurveyResponse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>subject</name>
        <label>subject</label>
        <locationX>580</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getInvitation.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>576</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuestionChoice.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Response.Invitation.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getInvitation</targetReference>
            </connector>
            <label>Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSI</name>
        <label>checkSI</label>
        <locationX>577</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvitation.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subject</targetReference>
            </connector>
            <label>checkOC</label>
        </rules>
    </decisions>
    <formulas>
        <name>desc</name>
        <dataType>String</dataType>
        <expression>{!$Record.QuestionChoice.Question.Name} &amp; BR() &amp; {!$Record.QuestionChoice.Name}</expression>
    </formulas>
    <formulas>
        <name>subjectName</name>
        <dataType>String</dataType>
        <expression>&apos;Bad case feedback - &apos; + {!name} + &apos;. Please address the issue or raise with your superior.&apos;</expression>
    </formulas>
    <interviewLabel>SurveyResponse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SurveyResponse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>582</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Invitation.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getInvitation</name>
        <label>getInvitation</label>
        <locationX>585</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invitation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <object>SurveyQuestionResponse</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
