force-app/main/default/flows/updateLastCustomerAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>e_sign</name>
        <label>e-sign</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>VoiFull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkEsign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VOI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eSign Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Identity_verified</targetReference>
            </connector>
            <label>checkEsign</label>
        </rules>
    </decisions>
    <decisions>
        <name>VoiFull</name>
        <label>VoiFull</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VoiOrFull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VOI_Type_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FULL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VOI_Type_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VOI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identity_verified</targetReference>
            </connector>
            <label>VoiOrFull</label>
        </rules>
    </decisions>
    <interviewLabel>updateLastCustomerAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateLastCustomerAction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Identity_verified</name>
        <label>Copy 1 of Identity verified</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Customer_Action__c</field>
            <value>
                <stringValue>Credit proposal signed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Identity_verified</name>
        <label>Identity verified</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Customer_Action__c</field>
            <value>
                <stringValue>Identity verified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>e_sign</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>VOI_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VOI_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>VOI_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>eSign Complete</stringValue>
            </value>
        </filters>
        <object>VOI_Status__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
