force-app/main/default/flows/update_VOI_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check_status_record</name>
        <label>check status record</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Status.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkForAll</targetReference>
            </connector>
            <label>check status</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForAll</name>
        <label>checkForAll</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>allfield</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_submitted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VOI_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_VOI</targetReference>
            </connector>
            <label>allfield</label>
        </rules>
    </decisions>
    <interviewLabel>update VOI Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update VOI Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Status</name>
        <label>get Status</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_status_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VOI_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VOI_Status__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_VOI</name>
        <label>update VOI</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Date_submitted__c</field>
            <value>
                <elementReference>get_Status.VOI_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>get_Status.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VOI_Type__c</field>
            <value>
                <elementReference>get_Status.VOI_Type_For__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VOI_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_submitted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VOI_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
